@media (max-width: 991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
}

@media (max-width: 768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position      : absolute;
        top           : 115%;
        left          : -110%;
        width         : 30rem;
        box-shadow    : 0 5px 10px rgba(0, 0, 0, .1);
        border-radius : 1rem;
        background    : #eee;
    }

    .header .navbar.active{
        left       : 2rem;
        transition : .4s linear;
    }

    .header .navbar a{
        font-size   : 2rem;
        margin      : 2rem 2.5rem;
        display     : block;
    }

    .home .image img{
        padding-top: 5rem;
    }

    .results .results-slider{
        margin-bottom: 2rem;
        width: 100%;
    }

    .results .results-slider .box img{
        height: 20rem;
    }

    /* .about .row .content ul li{
        font-size: .8rem;
    } */
    
}

@media (max-width: 450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 2.5rem;
    }
}