@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&amp;display=swap');
*{
    font-family: 'Almarai', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* list-style: none; */
    outline: none;
    border: none;
    text-decoration: none;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body{
    background: #001029;
}

section{
    padding: 2rem 9%;
}

.heading{
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color: #130f40;
}

.heading span{
    background: #26de81;
    color: #fff;
    display: inline-block;
    padding: .5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0 0);
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 1rem;
    background: #dfe4ea;
    color: #130f40;
    cursor: pointer;
}

.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    background: #eee;
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .1);
}

.header .logo img{
    height: 7rem;
}

.header .navbar a{
    font-size: 1.7rem;
    margin: 0 1rem;
    color: #130f40;
}

.header .navbar a:hover{
    color: #fff;
    background: #666;
    border-radius: 1rem;
    padding: .5rem;
}

.header .icon div{
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 1rem;
    background: #eee;
    color: #130f40;
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
}
.header .icon div:hover{
    background: #666;
    color: #fff;
}

#menu-btn{
    display: none;
}

.home{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    padding-top: 10rem;
}

.home .image{
    flex: 1 1 45rem;
}

.home .image img{
    width: 100%;
}

.home .content{
    flex: 1 1 45rem;
    padding-top: 6.5rem;
}

/* .home .image img{
    width: 120%;
    padding: 1rem;
    padding-top: 5rem;
} */

.home .content h3{
    font-size: 4rem;
    color: #26de81;
}

.home .content p{
    font-size: 1.7rem;
    color: #fff;
    padding: 1rem 0;
    line-height: 1.8;
}
.home .content .btn{
    
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .1);
}
.home .content .btn:hover{
    background: #130f40;
    color: #fff;
}

/* loader-container */
/* .loader-container{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
} */
/* .loader-container.fade-out{
    top: -120%;
} */

.features .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}

.features .box-container .box{
    padding: 3rem 2rem;
    background: #eee;
    outline: .1rem solid rgba(0 ,0, 0, .1);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .1);
    border-radius: 1rem;
}

.features .box-container .box:hover{
    outline: .2rem solid #26de81;
    border-radius: .5rem;
}

.features .box-container .box .btn{
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .1);
}
.features .box-container .box .btn:hover{
    background: #130f40;
    color: #fff;
}


.features .box-container .box img{
    margin: 1rem 0;
    height: 20rem;
}

.features .box-container .box h3{
    font-size: 2.1rem;
    line-height: 1.8;
    color: #130f40;
}

.features .box-container .box p{
    font-size: 1.5rem;
    line-height: 1.8;
    color: #666;
    padding: 1rem 0;
}

.results .results-slider{
    margin-bottom: 2rem;
    width: 60%;
}

.results .results-slider:first-child{
    margin-bottom: 2rem;
}

.results .results-slider .box{
    background: #001029;
    border-radius: 1rem;
    text-align: center;
    padding: 3rem 2rem;
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .12);
    transition: .2s linear;
}
.results .results-slider .box img{
    height: 35rem;
}

.results .results-slider .box h3{
    font-size: 2.5rem;
    color: #130f40;
}


.pricing .box-container{
    display               : grid;
    grid-template-columns : repeat(auto-fit, minmax(30rem, 1fr));
    gap                   : 1.5rem;
}

.pricing .box-container .box{
    background: #eee;
    border-radius: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0 ,0, 0, .1);
    padding: 2rem;
    text-align: center;
}

.pricing .box-container .box h3{
    padding: 1rem;
    background: #26de81;
    border-radius: 1rem;
    font-size: 2rem;
    color: #130f40;
}

.pricing .box-container .box .normal{
    font-size: 1.8rem;
}
.pricing .box-container .box .price{
    padding-top: 2rem;
}
.pricing .box-container .box .price span{
    font-size: 2rem;
    color: #444;
}
.pricing .box-container .box .price .amount{
    font-size: 5rem;
    color: #666;
    font-weight: bolder;
}
.pricing .box-container .box ul{
    padding: .5rem 0;
    list-style: none;
}
.pricing .box-container .box ul li{
    padding: 1rem 0;
    font-size: 1.7rem;
    color: #444;
}

.pricing .box-container .box .btn{
    background: #26de81;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image{
    flex: 1 1 45rem;
}
.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex: 1 1 45rem;
}

.about .row .content h3{
    color: #fff;
    font-size: 4rem;
    padding: .5rem 0;
}

.about .row .content ul li{
    color: #fff;
    font-size: 1.8rem;
    padding: .5rem 0;
    line-height: 2;
}

.footer{
    background: #eee;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color: #130f40;
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-left: 1rem;
    color: #ff6b81;
}
.footer .box-container .box a:hover i{
    padding-left: 2rem;
}

.footer .credit{
    padding: 1rem;
    padding-top: 2rem;
    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
    color: #666;
    border-top: .1rem solid rgba(0 ,0, 0, .1);
}

.footer .credit span{
    color: #ff6b81;
}